.add-question {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-question__input {
    background: darken($color: $dark-blue, $amount: 5);
    border: none;
    border-radius: 5px;
    //border: .3rem solid darken($dark-blue, 10%);
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    display: flex;
    //flex-grow: 1;
    font-size: x-large;
    font-weight: 400;
    margin: $m-size;
    padding: $l-size $s-size;
    width: 97%;
    // min-width: 78vw;
    // max-width: 90vw;
    //height: 20vh;
    @media (max-width: $desktop-breakpoint) {
        margin: $s-size;
        padding: $m-size $s-size;
        width: 93%;
      }
}

.add-question__text {
    color: $off-white;
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    @media (max-width: $desktop-breakpoint) {
        font-size: x-large;
    }
}

.add-question__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-question__options__title {
    color: $off-white;
    font-size: x-large;
    font-weight: 500;
    @media (max-width: $desktop-breakpoint) {
        font-size: large;
    }
}

.add-question__switches {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: $m-size;
    @media (max-width: $desktop-breakpoint) {
        flex-direction: column;
    }
}

.add-question__switch {
    display: flex;
    flex-direction: column;
    //flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $s-size $m-size;
    @media (max-width: $desktop-breakpoint) {
        padding: 0 $m-size;
    }
}

.add-question__options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-question__switch__text {
    color: $off-white;
    font-size: $m-size;
    font-weight: 300;
    margin: $s-size $m-size;
    opacity: .5;
}

.add-question__switch__text--chosen {
    color: $off-white;
    font-weight: 500;
    opacity: 1;
}

.add-question__switch__text--prompt {
    border-bottom: 2px solid darken($off-white, 10);
    color: darken($color: $off-white, $amount: 5);
    font-size: large;
    font-weight: 500;
    padding: $s-size 0;
    text-align: center;
    //margin-left: $m-size;
    //margin-right: 0;
    opacity: 1;
    width: 30vw;
    @media (max-width: $desktop-breakpoint) {
        margin: 0 $m-size;
        width: 80vw;
    }
}
