.button {
    background: $deep-sky-blue;
    border: none;
    border-left: 2px solid darken($color: $deep-sky-blue, $amount: 50);
    border-bottom: 2px solid darken($color: $deep-sky-blue, $amount: 50);
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1.5;
    padding: $s-size;
    text-align: center;
    text-decoration: none;
}

.button--login {
    background: fade-out($color: $deep-sky-blue, $amount: .5);
    color: fade-out($color: black, $amount: .1);
    font-weight: 500;
}

.button--link {
    background: none;
    font-weight: 200;
    border: none;
    color: $off-white;
    padding: 0;
}

.button--logout {
    background: none;
    font-weight: 200;
    border: 3px solid darken($off-black, 2.5);
    color: $off-white;
    padding: $s-size;
}

.button--secondary {
    background: #888888;
}

.button--expenses {
    @media (min-width: $desktop-breakpoint) {
        width: 20vw;
    }
}

.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $xl-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

@media (max-width: $desktop-rem) {
    .big-button {
        margin-bottom: $m-size;
    }
}