.button {
    background: $deep-sky-blue;
    border: none;
    border-left: 2px outset darken($color: $deep-sky-blue, $amount: 50);
    border-bottom: 2px outset darken($color: $deep-sky-blue, $amount: 50);
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1.5;
    padding: $s-size;
    text-align: center;
    text-decoration: none;
}

.button--add-option {
    border-left: 2px outset darken($color: $deep-sky-blue, $amount: 30);
    border-bottom: 2px outset darken($color: $deep-sky-blue, $amount: 30);
}

.button--login {
    background: fade-out($color: $deep-sky-blue, $amount: .5);
    border-left: 2px outset darken(fade-out($color: $deep-sky-blue, $amount: .5), $amount: 50);
    border-bottom: 2px outset darken(fade-out($color: $deep-sky-blue, $amount: .5), $amount: 50);
    color: fade-out($color: black, $amount: .1);
    font-weight: 500;
    margin: $s-size;
}

.button--link {
    background: none;
    font-weight: 200;
    border: none;
    color: $off-white;
    padding: 0;
}

.button--logout {
    background: none;
    font-weight: 200;
    border: 2px outset darken($off-black, 2.5);
    color: $off-white;
    padding: $s-size;
}

.button--secondary {
    background: #888888;
}

.button--expenses {
    @media (min-width: $desktop-breakpoint) {
        width: 20vw;
    }
}

.button--removeAll {
    font-size: x-small;
}

.button--deleteQuestion {
    background: #190491a1;
    border: none;
    border-left: 2px outset darken($color: #190491a1, $amount: 50);
    border-bottom: 2px outset darken($color: #190491a1, $amount: 50);
    font-size: medium;
    font-weight: 400;
    margin: $m-size;
    margin-left: $s-size;
    padding: $m-size; 
}

.button--removeAll:disabled {
    opacity: .5;
    font-size: x-small;
}

.big-button {
    background: rgb(0, 174, 255);
    border: none;
    border-left: 4px outset darken(rgb(0, 174, 255), 10%);
    border-bottom: 4px outset darken(rgb(0, 174, 255), 10%);
    color: white;
    font-weight: 500;
    font-size: $l-size;
    margin-bottom: $xl-size;
    margin-top: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

@media (max-width: $desktop-rem) {
    .big-button {
        margin-bottom: $m-size;
    }
}