.content-container {
    justify-items: center;
    //display: flex;
    //flex-direction: column;
    margin: auto;
    max-width: 100rem;
    padding: $s-size $l-size;
    @media (max-width: $desktop-breakpoint) {
        padding: $s-size $xs-size;
        //flex-direction: column;
    }
}

.content-container-questions {
    margin: auto;
    max-width: 100rem;
    padding: $s-size $xl-size;
    @media (max-width: $desktop-breakpoint) {
        //justify-content: center;
        margin: $s-size;
        padding: $s-size $xs-size;
        //flex-direction: column;
    }
}

.content-container-header {
    align-items: center;
    margin: 0 $xl-size;
    max-width: 150rem;
    padding: 0 $l-size;
    display: flex;
    @media (max-width: $desktop-breakpoint) {
        margin: 0;
        //flex-direction: column;
    }
}

.content-container--question {
    background: fade-out($color: black, $amount: 0.9);
    margin-bottom: $xl-size;
}

.content-container-search {
    background: fade-out($color: black, $amount: 0.75);
    // display: flex;
    //flex: 1;
    // align-items: center;
    // align-content: center;
    // justify-items: center;
    //flex-direction: column;
    margin: $m-size;
    //max-width: 150rem;
    padding: $m-size;
    @media (max-width: $desktop-breakpoint) {
        margin: 0;
        padding: $m-size $s-size;
        //display: inline-block;
        //flex-direction: column;
    }
}

.content-container--user {
    background: fade-out($color: black, $amount: 0.9);
    margin-top: $xl-size;
    margin-bottom: $xl-size;
    padding-bottom: $l-size;
    @media (max-width: $desktop-breakpoint) {
        //justify-content: center;
        margin: $l-size $m-size;
        padding-bottom: $m-size;
        //padding: $s-size $xs-size;
        //flex-direction: column;
    }
}


.content-container--yourquestions {
    align-items: center;
    background: fade-out($color: black, $amount: 0.75);
    //margin-top: $xl-size;
    margin: $m-size 0;
    color: $off-white;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-weight: 400;
    justify-content: center;
    margin-bottom: $xl-size;
    text-decoration: none;
    //padding-bottom: $l-size;
    @media (max-width: $desktop-breakpoint) {
        //justify-content: center;
        font-size: medium;
        margin: $s-size 0;
        margin-bottom: $l-size;
        padding: $m-size;
        //padding: $s-size $xs-size;
        //flex-direction: column;
    }
}

.content-container--yourquestions__text {
    color: white;
    padding-bottom: 0;
    text-decoration: underline;
}