.content-container {
    justify-items: center;
    //display: flex;
    //flex-direction: column;
    margin: auto;
    max-width: 100rem;
    padding: $s-size $l-size;
}

.content-container-questions {
    margin: auto;
    max-width: 100rem;
    padding: $s-size $xl-size;
    @media (max-width: $desktop-breakpoint) {
        margin: $s-size;
        //flex-direction: column;
    }
}

.content-container-header {
    align-items: center;
    margin: 0 $xl-size;
    max-width: 150rem;
    padding: 0 $l-size;
    display: flex;
    @media (max-width: $desktop-breakpoint) {
        margin: 0;
        //flex-direction: column;
    }
}

.content-container--question {
    background: fade-out($color: black, $amount: 0.9);
    margin-bottom: $xl-size;
}

.content-container-search {
    background: fade-out($color: black, $amount: 0.75);
    //display: flex;
    //flex: 1;
    // align-items: center;
    // align-content: center;
    // justify-items: center;
    //flex-direction: column;
    margin: $m-size;
    //max-width: 150rem;
    padding: $m-size;
    @media (max-width: $desktop-breakpoint) {
        margin: 0;
        //display: inline-block;
        //flex-direction: column;
    }
}