.header {
    background: $off-black;
    color: white;
    display: flex;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__logo {
    background: url('/images/logo.png');
}

.header__img {
    max-width: 20%;
    max-height: 100%;
    margin: $m-size;
    border-radius: 8px;
    border-left: 3px outset rgba(212, 4, 4, 0.171);
    border-bottom: 3px outset rgba(190, 13, 13, 0.322);
}

.header__title {
    color: lighten($color: rgba(184, 184, 184, 0.671), $amount: 100);
    font-size: xx-large;
    text-decoration: none;
    h1 {
        margin: 0;
    }
    opacity: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (max-width: $desktop-rem) {
    .header {
        margin-bottom: $m-size;
    }
}