.text-input {
    background: white;
    border: 1px solid #cacccd;
    border-radius: 3px;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    margin-right: $m-size;
    display: inline-block;
    @media (max-width: $desktop-breakpoint) {
        line-height: 0.8;
        margin: 0;
        margin-bottom: $s-size;
        padding: 0;
        text-align: center;
    }
}

.select {
    @extend .text-input;
    background: #bbf5ff;
    border: 1px outset darken($color: #bbf5ff, $amount: 5);
    padding: $m-size;
    @media (max-width: $desktop-breakpoint) {
        min-width: 188px;
        max-width: 188px;
    }
}

.text-area {
    @extend .text-input;
    height: 10rem;
}