.option {
    border-bottom: 1px solid lighten($light-blue, 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size $m-size;
    @media (max-width: $desktop-breakpoint) {
        flex-direction: column;
        padding: 0 $s-size;
    }
}

.option__text {
    color: white;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
    padding: $m-size ;
    word-break: break-all;
    @media (max-width: $desktop-breakpoint) {
        align-items: center;
        font-size: small;
        padding: $xxs-size;
    }
}

.option__text--chosen {
    color: white;
}

.option__text--notchosen {
    color: fade-out($color: $off-white, $amount: .7);
}

.option__button {
    background: rgba(44, 46, 77, 0.87);
    border: none;
    border-left: .3rem outset darken($color: rgba(44, 46, 77, 0.87), $amount: 4);
    border-bottom: .3rem solid darken($color: rgba(44, 46, 77, 0.87), $amount: 4);
    border-radius: 4px;
    color: white;
    padding: $xs-size;
    margin: $l-size;
    height: 15vh;
    width: 10vw;
    @media (max-width: $desktop-breakpoint) {
        height: 5vh;
        width: 80vw;
        margin: 0;
        margin-bottom: $xs-size;
    }
}

.option__button:disabled {
    background: fade-out($color: rgba(44, 46, 77, 0.87), $amount: .5);
    border-left: .3rem solid fade-out($color: darken($color: rgba(44, 46, 77, 0.87), $amount: .7), $amount:.5);
    border-bottom: .3rem solid fade-out($color: darken($color: rgba(44, 46, 77, 0.87), $amount: .7), $amount:.5);
    color: fade-out($color: white, $amount: .5)
}

.option-input {
    border-bottom: 1px solid lighten($light-blue, 10%);
    display: flex;
    justify-content: space-between;
    padding: $l-size $m-size;
}

.option-input__text {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
}

.option-input__button {
    background: darken($color: $deep-sky-blue, $amount: 10);
    border: none;
    border-left: 2px solid darken($color: $deep-sky-blue, $amount: 50);
    border-bottom: 2px solid darken($color: $deep-sky-blue, $amount: 50);
    color: white;
    font-weight: 300;
}