.questions {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.questions__text {
    //border: 5px solid darken($light-blue, 80%);
    border-bottom: 4px inset lighten($light-blue, 10%);
    color: $off-white;
    font-size: xx-large;
    font-weight: 500;
    padding: $m-size;
    padding-top: 0;
    margin: $m-size 0 $s-size 0;
    @media (max-width: $desktop-breakpoint) {
        font-size: medium;
        margin: $s-size 0;
        margin-top: 0;
        padding: $s-size;
        padding-top: $xxs-size;
        text-align: center;
    }
}

.questions__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.questions__options__title {
    color: $off-white;
    font-size: x-large;
    font-weight: 500;
}

.questions__info {
    align-items: center;
    align-content: center;
    border-top: 4px outset lighten($light-blue, 10%);
    display: flex;
    flex-direction: row;
    margin: $m-size 0 0 0;
    padding: $m-size;
    padding-bottom: $s-size;
    justify-content: space-between;
    @media (max-width: $desktop-breakpoint) {
        margin: 0;
        padding: 0 $m-size;
        padding-top: $s-size;
    }
}

.questions__info__text {
    color: $off-white;
    font-size: large;
    font-weight: 400;
    @media (max-width: $desktop-breakpoint) {
        font-size: smaller;
    }
}