.react-tagsinput {
    background-color: fade-out($color: black, $amount: 0.95);
    border: 1px solid darken($color: $dark-blue, $amount: 0.5);
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
  }
  
  .react-tagsinput--focused {
    border-color: #a5d24a;
  }
  
  .react-tagsinput-tag {
    background-color: #080161;
    border-radius: 2px;
    border: 1px solid #020424;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    align-items: stretch;
    margin: 10px;
    padding: 10px;
  }
  
  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
  }
  
  .react-tagsinput-tag a::before {
    content: " ×";
  }
  
  .react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 80px;
  }

  .react-tagsinput__text {
    color: white;
    font-size: large;
    font-weight: 500;
    margin: 10px;
  }

  .react-tagsinput__noTag {
    color: grey;
    font-size: small;
    font-weight: 300;
    margin: 10px;
  }