//Colors
$dark-grey: #333333;
$grey: #666666;
$deep-sky-blue: #3BB9FF;
$light-grey: #f7f7f7;
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;
//Font Size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
//Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$desktop-rem: 45rem;

