//Colors
$dark-grey: #333333;
$grey: #666666;
$deep-sky-blue: #3BB9FF;
$dark-blue: #364051;
$light-grey: #f7f7f7;
//Font Size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
//Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;